*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 767px;
    margin: 30px;
}
header{
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
}
header h1{
    text-shadow: #cf0303 1px 0 10px;
}
h1:hover{
    font-size: 35px;
}
header img{
    width: 250px;
    height: 80px;
    margin-bottom: 10px;
    transition: 1s, transform 0.4s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
header div ul li a img:hover{
    transform: rotate(360deg);
}
header h1{
    margin-bottom: 20px;
    font-size: 28px;
    color: #000000;
}
header div ul{
    word-spacing: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
}
header div ul li{
    display: inline-block;
    padding: 14px;
}
header div ul a img{
    height: 40px;
    width: 40px;
    margin: auto;
}
.html:hover{
    background-color: #f88a0c;
    color: black;
}
.css:hover{
    background-color: #1070ff;
    color: black;
}
.js:hover{
    background-color: #f7f311;
    color: black;
}
.imgTransition{
    height: 250px;
    max-width: 767px;
    margin-bottom: 22px;
    position: relative;
    overflow: hidden;
}
.foto{
    width: 100%;
    height: 250px;
    opacity: 0;
    position: absolute;
    animation-name: slider;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.foto:nth-child(2){
    animation-delay: 6s;
}
.foto:nth-child(3){
    animation-delay: 12s; 
}
@keyframes slider{
    25%{
        opacity: 1;
        transform: scale(1.1,1.1);
    }
    50%{
        opacity: 0;
    }
}
.textos{
    border: 1px solid #b3b2b2;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}
.textos h2{
    padding-bottom: 5px;
    text-align: center;
    font-size: 20px;
}
footer{
   margin-top: 15px;
   background-color: black;
   box-sizing: border-box;
}
footer h2{
    color: white;
    text-align: center; 
    padding-top: 15px;
    font-size: 16px;
}
footer div ul{
    list-style: none;
    text-align: center;
}
footer div ul li{
    display: inline-block;
}
footer div ul li a{
    text-decoration: none;
    color: white;
}
footer div ul li a img{
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin: 20px;
    transition: 1s, transform 0.4s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
footer img:hover{
    transform: rotate(360deg);
}
/*---------------------*/
@media screen and (min-width: 600px) and (max-width: 767px){
header h1:hover{
    font-size: 35px;
}
header div ul{
    word-spacing: 50px;
}
header div ul li{
    padding: 12px;
}
header div ul a{
    font-size: 18px;
}
header div ul a img{
    height: 60px;
    width: 60px;
}
.imgTransition{
    width: 100%;
    height: 300px;
}
.foto{
    height: 300px;
}
}
/*---------------------*/
@media screen and (min-width: 768px) and (max-width: 1200px){
.container{
    max-width: 1200px;
}
header h1{
    font-size: 30px;
}
header h1:hover{
    font-size: 36px;
}
header div ul{
    word-spacing: 90px;
}
header div ul li{
    padding: 15px;
}
header div ul a img{
    height: 70px;
    width: 70px;
}
.imgTransition{
    width: 100%;
    height: 380px;  
}
.foto{
    height: 380px;
    width: 100%;
}
.texto{
    text-align: center;
}
.textos{
    border: none;
    margin-top: 15px;
    padding: 6px;
    display: inline-block;
    max-width: 220px;
    font-size: 14px;
    box-sizing: border-box;
    text-align: justify;
    margin: 3px;
}
.textos h2{
    padding-bottom: 10px;
    font-size: 18px;
}
footer h2{
    padding-top: 20px;
    font-size: 20px;
}
footer div ul li a img{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin: 30px;
}
}
/*---------------------*/
@media screen and (min-width: 900px) and (max-width: 1200px){
header h1{
    font-size: 35px;
}
header h1:hover{
    font-size: 40px;
}
.imgTransition{
    max-width: 100%;
    height: 460px;
    left: 50%;
    transform: translateX(-50%);
}
.foto{
    height: 460px;
    width: 100%;
}
.textos{
    padding: 0px;
    font-size: 16px;
    margin: 25px;
    max-width: 222px;
}
.textos h2{
    padding-bottom: 10px;
    font-size: 22px;
}
footer h2{
    padding-top: 20px;
    font-size: 20px;
}
footer div ul li a img{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin: 30px;
}
}
/*------------------------*/
@media screen and (min-width: 1201px) and (max-width: 1920px){
.container{
    max-width: 1920px;
}
header h1{
    font-size: 35px;
}
header h1:hover{
    font-size: 40px;
}
header div ul{
    word-spacing: 90px;
}
header div ul li{
    padding: 15px;
}
header div ul a img{
    height: 80px;
    width: 80px;
}
.imgTransition{
    max-width: 100%;
    height: 550px;
}
.foto{
    height: 550px;
    width: 100%;
}
.texto{
    text-align: center;
}
.textos{
    border: none;
    margin-top: 15px;
    padding: 5px;
    display: inline-block;
    max-width: 300px;
    font-size: 20px;
    box-sizing: border-box;
    text-align: justify;
    margin: 20px;
}
.textos h2{
    padding-bottom: 10px;
    font-size: 24px;
}
footer h2{
    padding-top: 20px;
    font-size: 22px;
}
footer div ul li a img{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin: 40px;
}
}